<!DOCTYPE html>
<html>
    <head>
        <title>Classes</title>
    <head>
    <body>
    <p><b>Projects in 1006:</b></p>
    <ol>
    <li><b>Homework 1:</b> This homework was to learn the basics of python.
    This basially takes in the users name and prints each letter out.</li>
    <li><b>Homework 2:</b> This homework is about coding simulations. It
    basically calculates projectile statistics.</li>
    <li><b>Homework 3:</b> This homework goes through perlocation. It simulates
    water falling through a randomly generated course. It sees if the water
    can reach the bottom.</li>
    <li><b>Midterm:</b> This was my favorite assignment. It was an imaging
    processing and editing program that can take in a ppm image and
    remove objects, grayscale it or flip it horizontally.</li>
    <li><b>Homework 4:</b> This homework was mainly to learn about classes.
    It has a teacher class, student class and assignment class. This enables
    us to have different classes with different teachers and different studens.
    Each student can have their own assignment.</li>
    <li><b>Homework 5:</b> This homework uses basic machine learning
    to see what kind of tumor (benign or malignant) the test tumor
    would be.</li>
    </ol>
    
    <p>My favorite assignment was the Midterm or the image processing
    assignment because I built a program that I could actually use in
    real life. People nowadays use image processing and editing like that
    on a daily basis. It was cool to code something that I see in real
    life everyday. </p>
    </body>
</html>
