<!DOCTYPE html>
<html>
    <head>
        <title>Classes</title>
    <head>
    <style>
    .content {
        max-width: 500px;
        margin: auto;
    }
    .finalparagraph{
        text-align: center;
    }
    h1{
        padding-bottom: 20px;
        text-align: center;
    }
    </style>
    <body>
    <div class="content">
    <h1>Welcome to the Classes Page!</h1>
    <p><b>Classes I have taken this semester:</b></p>
    <ul>
    <li>Data Structures</li>
    <li>Ordinary Differential Equations</li>
    <li>University Writing</li>
    <li>Python</li>
    <li>Physics</li>
    <li>Economics</li>
    </ul>
    
    <div class="finalparagraph">
    <p><b>Favorite Class: </b>My favorite class this semester has been Data Structures because I learned
    a lot about structures that can actually be used to complete big projects. I also
    made a lot of cool things through assignments. </p>
    <p></p>
    </div>
    <center><a href="/">Home</a></center>
    </p>
    </body>
</html>